<div class="center jumbotron">
<h1>Insta Clone</h1>
<h2>
  This is the home page for the
  <a href="https://www.facebook.com/">Facebook Login</a>
  application.
</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>


<%= link_to image_tag("instagram_logo.svg", alt: "instagram logo", width: "200px"),
                      "https://upload.wikimedia.org/wikipedia/commons/2/2a/Instagram_logo.svg/" %>
