<%= form_with model: [@micropost, @comment], local: true, remote: true do |f| %>
  <div class = "field">
  <%= f.text_area :content, class: 'input', placeholder: 'コメント' %>
  </div>
  <%= f.submit "コメントする",  class: "btn btn-primary" %>
  <% end %>