<footer class="footer">
  <small>
    The <a href="
    #">Insta Clone</a>
    By <a href="#">Toshiaki Takahashi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Terms_of_service",   terms_of_service_path %></li>
      <li><%= link_to "Privacy_policy", privacy_policy_path %></li>
  </nav>
</footer>